<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6OAv8NsnSqa7KjP9B7HlfZzT9Xgwd4Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>811802097023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Intestech.SpectApps</string>
	<key>PROJECT_ID</key>
	<string>spectapps</string>
	<key>STORAGE_BUCKET</key>
	<string>spectapps.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811802097023:ios:950d36ff24f722b92b164a</string>
</dict>
</plist>